.profile {
	margin: 0;
	padding: 1px 8px 2px 2px;
	width: 120px;
	cursor: pointer;
	border-radius: 5px;
	background-color: transparent;
	transition: background-color 0.2s;
	display: flex;
	flex-direction: row;
	align-items: center;

	&:hover {
		background-color: var(--colorUserControlsBackgroundHover);
		transition: background-color 0.2s;
	}

	&__avatar {
		margin: 0 10px 0 0;
		padding: 0;
	}

	&__status {
		background-color: var(--colorUserControlsBackground) !important;
		transition: background-color 0.2s;
	}

	&:hover &__status {
		background-color: var(--colorUserControlsBackgroundHover) !important;
		transition: background-color 0.2s;
	}

	&__info {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;

		&-name {
			margin: 0;
			padding: 0;
			font-size: 14px;
			line-height: 18px;
			color: var(--colorTextPrimary);
			max-width: 73px;
			flex-wrap: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		&-username {
			margin: 0;
			padding: 0;
			font-size: 11px;
			line-height: 14px;
			color: var(--colorTextSecondary);
		}
	}
}
