.button {
	margin: 0 0 5px 0;
	padding: 5px 10px;
	width: 100%;
	background-color: transparent;
	border: none;
	border-radius: 5px;
	outline: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	transition: background-color 0.2s;

	&:hover {
		background-color: var(--colorChannelBackgroundActive);
	}

	&__image {
		margin: 0;
		padding: 0;
		width: fit-content;
		height: fit-content;
	}

	&__text {
		margin: 0;
		padding: 0;
		color: var(--colorTextSecondary);
		font-size: 15px;
		font-weight: 500;
	}
}
