.button:hover {
	background-color: var(--colorRed) !important;
}

.button:hover > .button__text {
	color: var(--colorTextPrimary) !important;
}

.icon {
	width: 20px;
	height: 20px;

	&__item {
		stroke: var(--colorTextSecondary) !important;
	}
}
