.button {
	margin: 0 13px 0 0;
	padding: 0;
	width: 20px;
	height: 20px;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: transparent;
	opacity: 0.7;
	transition: opacity 0.2s;

	&:hover {
		opacity: 1;
	}

	&__image {
		margin: 0;
		padding: 0;
		width: 20px;
		height: 20px;
	}
}
