.item {
	margin: 12px 0 0 0;
	padding: 0;

	&__link {
		margin: 0;
		padding: 0;
		width: 48px;
		height: 48px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		transition: border-radius 0.2s;
		background-color: var(--colorBackgroundPrimary);
		color: var(--colorTextPrimary);
		text-decoration: none;
		font-size: 10px;

		&:hover,
		&_active {
			background-color: var(--colorPurple);
			border-radius: 10px;
			transition: border-radius 0.2s;
		}
	}

	&__image {
		margin: 0;
		padding: 0;
		width: 48px;
		height: 48px;
		display: flex;
		border-radius: 50%;
		transition: border-radius 0.2s;
	}

	&__link_active > &__image,
	&__link:hover > &__image {
		border-radius: 10px;
		transition: border-radius 0.2s;
	}
}
