.dark,
:root {
	--colorTextPrimary: #f1f2f4;
	--colorTextSecondary: #949ba4;

	--colorBackgroundPrimary: #313338;
	--colorBackgroundSecondary: #2b2d31;
	--colorBackgroundSecondaryRGBA: rgba(43, 45, 49, 0.4);
	--colorBackgroundTertiary: #1e1f22;
	--colorBackgroundBlack: #111214;

	--colorMessageInput: #383a40;
	--colorMessageInputBlocked: #34363c;
	--colorMessageHover: #2e3035;

	--colorChannelActive: #ffffff;
	--colorChannelBackgroundActive: #404249;
	--colorChannelHover: #d9dcdf;
	--colorChannelBackgroundHover: #35373c;

	--colorScroll: #1a1b1e;
	--colorScrollBackground: #2b2d31;

	--colorInput: #1e1f22;

	--colorSelectedUserProfileBackground: #232528;

	--colorUserControlsBackground: #222327;
	--colorUserControlsBackgroundHover: #3d3e45;

	--colorIcon: #f1f2f4;

	--colorBlack: #111214;
	--colorWhite: #ffffff;
	--colorGray: #828690;
	--colorGreen: #23a55a;
	--colorRed: #f23f43;
	--colorYellow: #f0b232;
	--colorPurple: #5865f2;

	--colorLink: #00aeff;
}

.light {
	--colorTextPrimary: #111214;
	--colorTextSecondary: #4e5058;

	--colorBackgroundPrimary: #ffffff;
	--colorBackgroundSecondary: #f2f3f5;
	--colorBackgroundSecondaryRGBA: rgba(242, 243, 245, 0.4);
	--colorBackgroundTertiary: #e3e5e8;
	--colorBackgroundBlack: #f2f3f5;

	--colorMessageInput: #ebedef;
	--colorMessageInputBlocked: #e3e5e8;
	--colorMessageHover: #f2f3f5;

	--colorChannelActive: #111214;
	--colorChannelBackgroundActive: #d9dcdf;
	--colorChannelHover: #4e5058;
	--colorChannelBackgroundHover: #ebedef;

	--colorScroll: #d9dcdf;
	--colorScrollBackground: #f2f3f5;

	--colorInput: #f2f3f5;

	--colorSelectedUserProfileBackground: #ebedef;

	--colorUserControlsBackground: #f2f3f5;
	--colorUserControlsBackgroundHover: #d9dcdf;

	--colorIcon: #111214;

	--colorLink: #0066cc;
}
