.category {
	margin: 0 0 18px 0;
	padding: 0;

	&__header {
		display: flex;
		align-items: center;
		padding: 5px 10px;
		cursor: pointer;
		color: var(--colorTextSecondary);
		border-radius: 4px;
		user-select: none;
		font-size: 12px;
		transition: color 0.2s;
		justify-content: space-between;
		text-transform: uppercase;
		font-weight: 500;

		&:hover {
			color: var(--colorTextPrimary);
			transition: color 0.2s;
		}

		&-icon {
			margin: 0 10px 0 0;
			padding: 0;
			width: 7px;
			height: 7px;
			transform: rotate(0deg);
			transition: transform 0.2s ease;

			&_closed {
				transform: rotate(-90deg);
				transition: transform 0.2s ease;
			}
		}
	}

	&__settings {
		&:hover {
			animation: rotate 0.4s linear;
		}
	}

	&__channels {
		padding-left: 10px;
		margin-top: 5px;
		transition:
			max-height 0.2s ease,
			opacity 0.2s ease;
		max-height: 500px;
		opacity: 1;
		overflow: hidden;

		&_collapsed {
			max-height: 0;
			opacity: 0;
		}
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(90deg);
	}
}
