.button {
	margin: 20px 0 0 0;
	padding: 7px 16px;
	color: var(--colorTextPrimary);
	background-color: var(--colorPurple);
	text-decoration: none;
	outline: none;
	border: none;
	border-radius: 5px;
	font-size: 13px;
	cursor: pointer;
	opacity: 1;
	transition: opacity 0.2s;

	&:hover {
		opacity: 0.7;
	}
}
