.controls {
	margin: 0;
	padding: 1px 8px;
	width: calc(100% - 16px);
	height: 52px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	position: relative;

	&__buttons {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	&__button {
		margin: 0 0 0 2px;
		padding: 5px;
		width: fit-content;
		height: fit-content;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: transparent;
		border: none;
		border-radius: 5px;
		outline: none;
		cursor: pointer;
		transition: background-color 0.2s;

		&:hover {
			background-color: var(--colorUserControlsBackgroundHover);
			transition: background-color 0.2s;
		}

		&-icon {
			margin: 0;
			padding: 0;
			width: 20px;
			height: 20px;
			display: block;

			&:hover {
				animation: rotate 0.4s linear;
			}
		}
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(90deg);
	}
}
