.button {
	margin: 0 8px;
	padding: 2px 8px;
	border: none;
	outline: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: transparent;
	cursor: pointer;
	color: var(--colorTextPrimary);
	font-size: 16px;
	line-height: 20px;
	border-radius: 4px;

	&:hover {
		background-color: var(--colorChannelBackgroundHover);
	}

	&_active {
		background-color: var(--colorChannelBackgroundActive);
	}

	&_add {
		background-color: transparent;
		color: var(--colorGreen);
	}

	&_add:not(&_active) {
		color: var(--colorTextPrimary);
		background-color: var(--colorGreen);
		opacity: 1;
		transition: opacity 0.1s;

		&:hover {
			background-color: var(--colorGreen);
			opacity: 0.7;
			transition: opacity 0.1s;
		}
	}

	&__indicator {
		margin: 0 0 0 6px;
		padding: 0;
		width: fit-content;
		height: fit-content;
	}
}
