.controls {
	margin: 0 10px 0 0;
	padding: 0;
	position: relative;
	z-index: 3;

	&:has(&__buttons_opened) {
		display: flex;
	}

	&__button {
		margin: 0;
		padding: 4px 6px;
		background-color: var(--colorChannelBackgroundActive);
		border: none;
		border-radius: 5px;
		outline: none;
		color: var(--colorTextPrimary);
		cursor: pointer;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	&__buttons {
		margin: 0;
		padding: 5px;
		width: 280px;
		position: absolute;
		top: 0;
		right: 30px;
		display: none;
		border-radius: 10px;
		background-color: var(--colorBackgroundTertiary);

		&_opened {
			display: flex;
			flex-direction: column;
		}
	}
}
