.request {
	margin: 0 10px;
	padding: 0 10px;
	width: calc(100% - 38px);
	height: 60px;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 5px;
	transition:
		background-color 0.2s,
		border 0.2s;

	&:hover {
		border-color: var(--colorChannelBackgroundActive);
		background-color: var(--colorChannelBackgroundActive);
		transition:
			background-color 0.2s,
			border-color 0.2s;
	}

	&__content {
		margin: 0 0 0 5px;
		padding: 5px 0;
		width: 100%;
		height: 50px;
		border-top: 1px solid var(--colorChannelBackgroundActive);
		border-radius: 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	&__info {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		align-items: center;

		&-avatar {
			margin: 0 10px 0 0;
			padding: 0;

			&-status {
				background-color: var(--colorBackgroundPrimary) !important;
				transition: background-color 0.2s;
			}
		}

		&-username {
			margin: 0;
			padding: 0;
			font-size: 16px;
			color: var(--colorTextPrimary);
		}
	}

	&:hover &__info-avatar-status {
		background-color: var(--colorChannelBackgroundActive) !important;
		transition: background-color 0.2s;
	}

	&__buttons {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		position: relative;

		&-button {
			margin: 0 0 0 10px;
			padding: 0;
			width: 36px;
			height: 36px;
			display: flex;
			align-items: center;
			justify-content: center;
			border: none;
			background-color: var(--colorBackgroundSecondary);
			transition: background-color 0.2s;
			border-radius: 50%;
			cursor: pointer;
			text-align: center;

			&:hover {
				background-color: var(--colorBackgroundTertiary);
				transition: background-color 0.2s;
			}

			&:disabled {
				cursor: not-allowed;
			}

			&-icon {
				margin: 0;
				padding: 0;
				height: 10px;
				width: 10px;
			}
		}
	}
}
