.sidebar {
	margin: 0;
	padding: 0;
	width: 100%;

	&__header {
		margin: 0;
		padding: 0 10px;
		height: 48px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		border-bottom: 1.5px solid var(--colorBackgroundTertiary);
	}

	&__content {
		margin: 8px 0 0 0;
		padding: 0;
		width: 100%;
		height: calc(100vh - 54px - 49px - 20px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&-chats {
			margin: 0 auto;
			padding: 0;
			width: 220px;
			display: flex;
			flex-direction: column;
			align-items: center;

			&-header {
				margin: 25px 0 10px 10px;
				padding: 0;
				width: 100%;
				font-size: 12px;
				line-height: 16px;
				font-weight: 500;
				text-transform: uppercase;
				color: var(--colorTextSecondary);
				transition: color 0.2s;
				cursor: default;

				&:hover {
					color: var(--colorTextPrimary);
					transition: color 0.2s;
				}
			}
		}
	}
}
