.tooltip {
	margin: 0;
	padding: 0;
	width: fit-content;
	height: fit-content;
	position: relative;
	display: block;

	&__text {
		margin: 0 0 0 10px;
		padding: 5px;
		visibility: hidden;
		width: max-content;
		height: 18px;
		background-color: var(--colorBackgroundBlack);
		color: var(--colorTextPrimary);
		text-align: center;
		border-radius: 4px;
		position: absolute;
		z-index: 1;
		top: calc(100% / 2);
		left: 100%;
		font-size: 15px;
		line-height: 1.2;
		transform: translateY(-50%);
		opacity: 0;
		transition:
			opacity 0.3s,
			visibility 0.3s;

		&_top {
			margin: 0;
			bottom: 130%;
			top: auto;
			left: 50%;
			transform: translateX(-50%);
		}

		&_bottom {
			margin: 0;
			bottom: auto;
			top: 28px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

.tooltip:hover .tooltip__text {
	visibility: visible;
	opacity: 1;
}
